@using CoffeeShop_Product.Model;

@model ProductList
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>@Model.Name, @Model.Price @Model.Description </h1>
@*@<h2>asp-method="get" asp-action="Details" asp-route-id="@Model.Id">@Model.Name</h2>*@